.benefits {
  padding: 100px 0;
  background-color: $color-light-grey;

  @include mobile {
    padding: 42px 0;
  }

  &__container {
    padding: 0 100px;

    @include mobile {
      padding: 0 30px;
    }
  }

  &__single {
    background-color: $color-white;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;

    @include mobile {
      align-items: center;
      flex-direction: column-reverse;
    }

    &--notebook {
      --accent-color: #{$color-redish};

      .benefits__image {
        margin-right: 117px;
        margin-bottom: 38px;

        @include mobile {
          margin: 30px 0 0;
        }

        &::before {
          content: "";
          width: 180px;
          height: 180px;
          background-color: var(--accent-color);
          display: block;
          border-radius: 40px;
          position: absolute;
          right: 0;
          top: -40px;
          transform: rotate(45deg);

          @include mobile {
            width: 130px;
            height: 130px;
            border-radius: 60px;
            margin-top: 30px;
          }
        }

        img {
          width: 386px;
          height: auto;
          position: relative;
          z-index: 2;

          @include mobile {
            width: 250px;
            margin-bottom: -55px;
            margin-top: 25px;
          }
        }
      }
    }

    &--phone {
      --accent-color: #{$color-primary};
      flex-direction: row-reverse;
      padding: 0 20px 0 70px;

      @include mobile {
        align-items: center;
        flex-direction: column-reverse;
        padding-left: 21px;
      }

      .benefits__image {
        &::before {
          content: "";
          width: 320px;
          height: 320px;
          background-color: var(--accent-color);
          display: block;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: -20px;

          @include mobile {
            width: 150px;
            height: 150px;
            margin-top: 35px;
            margin-left: 5px;
          }
        }

        img {
          width: 426px;
          height: auto;

          @include mobile {
            width: 200px;
            margin-bottom: -55px;
            margin-top: 25px;
          }
        }
      }

      .benefits__text {
        margin: 70px 0;
      }
    }

  }

  &__double {
    --accent-color: #{$color-green};
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    > div {
      margin-bottom: 0;
    }

    .benefits__single--solo {
      max-width: 620px;

      @include tablet {
        max-width: 1023px;
      }

      .benefits__text {
        max-width: none;
        margin: 70px 35px;

        @include mobile {
          margin-left: 20px;
          margin-top: 25px;
        }

      }
    }

    .benefits__single--image {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--accent-color);
      border: none;
      margin-left: 60px;

      @include mobile {
        margin-left: 0;
      }

      img {
        width: 295px;
        height: auto;
        margin-top: 55px;
      }
    }
  }


  &__text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 90px 36px;

    &::after {
      content: "";
      width: 332px;
      height: 4px;
      background-color: var(--accent-color);
      display: block;
      margin-top: 50px;

      @include mobile {
        display: none;
      }
    }
  }

  &__description {
    margin-top: 30px;
    line-height: 1.375rem;

    @include mobile {
      margin-bottom: -40px;
    }
  }

  &__image {
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }
  }
}