.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-left: -100px;
  }

  &__column {
    width: 50%;
  }

  &__title {
    font-size: 3.0625rem;
    line-height: 3.6875rem;

    @include mobile {
      white-space: nowrap;
      font-size: 2.8rem;
    }
  }

  &__instruction {
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;

    @include mobile {
      margin: 5px 0 35px;
      white-space: nowrap;
      font-size: 0.990rem;
      line-height: 0.5rem;
    }

  }

  &__details {
    display: flex;
    justify-content: flex-start;
    color: var(--color-grey);
    align-items: center;

    &__item {
      color: var(--color-grey);
      font-weight: 500;
      text-decoration: none;


      &:first-of-type {
        margin-right: 20px;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}